/docs/ @hainn7390-tech @username_BA @username_QA
/apps/backend/ @username_backend1 @username_backend2
/apps/frontend/ @username_frontend1 @username_frontend2
/infra/ @username_devops
/.github/ @hainn7390-tech @username_devops
